<div class="cover{{#if @site.cover_image}} image-loading{{/if}}">
    {{#if @site.cover_image}}
        <img class="cover-image" src="{{@site.cover_image}}" alt="{{@site.title}}">
    {{/if}}

    <div class="cover-content container">
        {{#if @site.description}}
            <div class="cover-description">Post Secret</div>
        {{/if}}
</div>
