<div class="cover{{#if @site.cover_image}} image-loading{{/if}}">


    <div class="cover-content container">

        <div class="cover-description">Post Secret</div>
        <img class="temp-cover-image" src="https://postsecret.ghost.io/content/images/2021/05/Screenshot-2021-05-02-at-18.02.12-6.png"
            alt="{{@site.title}}"
            loading="lazy"
        />
        <hr />
        
</div>
