<div class="cover{{#if @site.cover_image}} image-loading{{/if}}">


    <div class="cover-content container">

        {{#if @site.description}}
            <div class="cover-description">Post Secret</div>
        {{/if}}
        
        <img src="https://postsecret.ghost.io/content/images/2021/05/Screenshot-2021-05-02-at-18.02.12-6.png"
            alt="{{@site.title}}"
            loading="lazy"
        />
        
</div>
